/* Removing rules that don't include a color declaration. */

/* LESS Variables *//*#region*/
.form:focus {
    border-color: #3F9AE4;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.input-group-btn .btn-default {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px
}

.frmFldLbl,
.stacked .frmFldLbl {
    font-weight: 600;
    margin-bottom: 3px;
    color: #424242;
    font-size: 14px
}

tr.TDGridHeader {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd
}

table>thead>tr.TDGridHeader>th,
tr.TDGridHeader td {
    line-height: 20px;
    font-weight: 700;
    color: #646464;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}

.TDGroupingRow {
    font-weight: 700;
    color: #336699;
    background-color: #f5f5f5;
    height: 23px;
    text-align: left
}

.grouping-row {
    padding: 8px;
    background-color: #f5f5f5;
    font-weight: 700
}

.TDAlternatingRow {
    background-color: #f9f9f9
}

.TDFooterRow {
    background-color: #f5f5f5
}

.TDPagerRow>td {
    padding: 12px 8px;
    border-top: 1px solid #dcdcdc;
    font-size: 12px !important
}

.TDPagerRow>td>span {
    margin-right: 8px;
    padding: 1px 6px;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-radius: 9px;
    font-weight: 700
}

td.SortColumn a,
th.SortColumn a {
    font-weight: bolder;
    color: #bf3935
}

select.TDSelect,
select[multiple].TDSelect {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

input.TDTextBox,
textarea.TDTextArea {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #cdcdcd
}

.border {
    border: 1px solid #ddd
}

.border-top {
    border-top: 1px solid #ddd
}

.border-bottom {
    border-bottom: 1px solid #ddd
}

.border-right {
    border-right: 1px solid #ddd
}

.border-left {
    border-left: 1px solid #ddd
}

.soft-border {
    border: 1px solid #dcdcdc
}

.soft-border-top {
    border-top: 1px solid #dcdcdc
}

.soft-border-bottom {
    border-bottom: 1px solid #dcdcdc
}

.soft-border-right {
    border-right: 1px solid #dcdcdc
}

.soft-border-left {
    border-left: 1px solid #dcdcdc
}

/*#endregion*/

/* Color utility classes *//*#region*/
.red,
.red-hover:hover {
    color: #bf3935 !important
}

.red-bg,
.red-hover-bg:hover {
    background-color: #bf3935 !important
}

.red-border {
    border: 1px solid #bf3935
}

.red-border-top {
    border-top: 1px solid #bf3935
}

.red-border-right {
    border-right: 1px solid #bf3935
}

.red-border-bottom {
    border-bottom: 1px solid #bf3935
}

.red-border-left {
    border-left: 1px solid #bf3935
}

.dark-red,
.dark-red-hover:hover {
    color: #ac3330 !important
}

.dark-red-bg,
.dark-red-hover-bg:hover {
    background-color: #ac3330 !important
}

.dark-red-border {
    border: 1px solid #ac3330
}

.dark-red-border-top {
    border-top: 1px solid #ac3330
}

.dark-red-border-right {
    border-right: 1px solid #ac3330
}

.dark-red-border-bottom {
    border-bottom: 1px solid #ac3330
}

.dark-red-border-left {
    border-left: 1px solid #ac3330
}

.light-red,
.light-red-hover:hover {
    color: #f5e1e1 !important
}

.light-red-bg,
.light-red-hover-bg:hover {
    background-color: #f5e1e1 !important
}

.light-red-border {
    border: 1px solid #f5e1e1
}

.light-red-border-top {
    border-top: 1px solid #f5e1e1
}

.light-red-border-right {
    border-right: 1px solid #f5e1e1
}

.light-red-border-bottom {
    border-bottom: 1px solid #f5e1e1
}

.light-red-border-left {
    border-left: 1px solid #f5e1e1
}

.green,
.green-hover:hover {
    color: #298529 !important
}

.green-bg,
.green-hover-bg:hover {
    background-color: #298529 !important
}

.green-border {
    border: 1px solid #298529
}

.green-border-top {
    border-top: 1px solid #298529
}

.green-border-right {
    border-right: 1px solid #298529
}

.green-border-bottom {
    border-bottom: 1px solid #298529
}

.green-border-left {
    border-left: 1px solid #298529
}

.dark-green,
.dark-green-hover:hover {
    color: #257825 !important
}

.dark-green-bg,
.dark-green-hover-bg:hover {
    background-color: #257825 !important
}

.dark-green-border {
    border: 1px solid #257825
}

.dark-green-border-top {
    border-top: 1px solid #257825
}

.dark-green-border-right {
    border-right: 1px solid #257825
}

.dark-green-border-bottom {
    border-bottom: 1px solid #257825
}

.dark-green-border-left {
    border-left: 1px solid #257825
}

.light-green,
.light-green-hover:hover {
    color: #dfeddf !important
}

.light-green-bg,
.light-green-hover-bg:hover {
    background-color: #dfeddf !important
}

.light-green-border {
    border: 1px solid #dfeddf
}

.light-green-border-top {
    border-top: 1px solid #dfeddf
}

.light-green-border-right {
    border-right: 1px solid #dfeddf
}

.light-green-border-bottom {
    border-bottom: 1px solid #dfeddf
}

.light-green-border-left {
    border-left: 1px solid #dfeddf
}

.yellow,
.yellow-hover:hover {
    color: #8e6a00 !important
}

.yellow-bg,
.yellow-hover-bg:hover {
    background-color: #8e6a00 !important
}

.yellow-border {
    border: 1px solid #8e6a00
}

.yellow-border-top {
    border-top: 1px solid #8e6a00
}

.yellow-border-right {
    border-right: 1px solid #8e6a00
}

.yellow-border-bottom {
    border-bottom: 1px solid #8e6a00
}

.yellow-border-left {
    border-left: 1px solid #8e6a00
}

.dark-yellow,
.dark-yellow-hover:hover {
    color: #805f00 !important
}

.dark-yellow-bg,
.dark-yellow-hover-bg:hover {
    background-color: #805f00 !important
}

.dark-yellow-border {
    border: 1px solid #805f00
}

.dark-yellow-border-top {
    border-top: 1px solid #805f00
}

.dark-yellow-border-right {
    border-right: 1px solid #805f00
}

.dark-yellow-border-bottom {
    border-bottom: 1px solid #805f00
}

.dark-yellow-border-left {
    border-left: 1px solid #805f00
}

.light-yellow,
.light-yellow-hover:hover {
    color: #eee9d9 !important
}

.light-yellow-bg,
.light-yellow-hover-bg:hover {
    background-color: #eee9d9 !important
}

.light-yellow-border {
    border: 1px solid #eee9d9
}

.light-yellow-border-top {
    border-top: 1px solid #eee9d9
}

.light-yellow-border-right {
    border-right: 1px solid #eee9d9
}

.light-yellow-border-bottom {
    border-bottom: 1px solid #eee9d9
}

.light-yellow-border-left {
    border-left: 1px solid #eee9d9
}

.blue,
.blue-hover:hover {
    color: #2e75b2 !important
}

.blue-bg,
.blue-hover-bg:hover {
    background-color: #2e75b2 !important
}

.blue-border {
    border: 1px solid #2e75b2
}

.blue-border-top {
    border-top: 1px solid #2e75b2
}

.blue-border-right {
    border-right: 1px solid #2e75b2
}

.blue-border-bottom {
    border-bottom: 1px solid #2e75b2
}

.blue-border-left {
    border-left: 1px solid #2e75b2
}

.dark-blue,
.dark-blue-hover:hover {
    color: #2969a0 !important
}

.dark-blue-bg,
.dark-blue-hover-bg:hover {
    background-color: #2969a0 !important
}

.dark-blue-border {
    border: 1px solid #2969a0
}

.dark-blue-border-top {
    border-top: 1px solid #2969a0
}

.dark-blue-border-right {
    border-right: 1px solid #2969a0
}

.dark-blue-border-bottom {
    border-bottom: 1px solid #2969a0
}

.dark-blue-border-left {
    border-left: 1px solid #2969a0
}

.light-blue,
.light-blue-hover:hover {
    color: #e0eaf3 !important
}

.light-blue-bg,
.light-blue-hover-bg:hover {
    background-color: #e0eaf3 !important
}

.light-blue-border {
    border: 1px solid #e0eaf3
}

.light-blue-border-top {
    border-top: 1px solid #e0eaf3
}

.light-blue-border-right {
    border-right: 1px solid #e0eaf3
}

.light-blue-border-bottom {
    border-bottom: 1px solid #e0eaf3
}

.light-blue-border-left {
    border-left: 1px solid #e0eaf3
}

.orange,
.orange-hover:hover {
    color: #a7521b !important
}

.orange-bg,
.orange-hover-bg:hover {
    background-color: #a7521b !important
}

.orange-border {
    border: 1px solid #a7521b
}

.orange-border-top {
    border-top: 1px solid #a7521b
}

.orange-border-right {
    border-right: 1px solid #a7521b
}

.orange-border-bottom {
    border-bottom: 1px solid #a7521b
}

.orange-border-left {
    border-left: 1px solid #a7521b
}

.dark-orange,
.dark-orange-hover:hover {
    color: #964918 !important
}

.dark-orange-bg,
.dark-orange-hover-bg:hover {
    background-color: #964918 !important
}

.dark-orange-border {
    border: 1px solid #964918
}

.dark-orange-border-top {
    border-top: 1px solid #964918
}

.dark-orange-border-right {
    border-right: 1px solid #964918
}

.dark-orange-border-bottom {
    border-bottom: 1px solid #964918
}

.dark-orange-border-left {
    border-left: 1px solid #964918
}

.light-orange,
.light-orange-hover:hover {
    color: #f2e5dd !important
}

.light-orange-bg,
.light-orange-hover-bg:hover {
    background-color: #f2e5dd !important
}

.light-orange-border {
    border: 1px solid #f2e5dd
}

.light-orange-border-top {
    border-top: 1px solid #f2e5dd
}

.light-orange-border-right {
    border-right: 1px solid #f2e5dd
}

.light-orange-border-bottom {
    border-bottom: 1px solid #f2e5dd
}

.light-orange-border-left {
    border-left: 1px solid #f2e5dd
}

.purple,
.purple-hover:hover {
    color: #775774 !important
}

.purple-bg,
.purple-hover-bg:hover {
    background-color: #775774 !important
}

.purple-border {
    border: 1px solid #775774
}

.purple-border-top {
    border-top: 1px solid #775774
}

.purple-border-right {
    border-right: 1px solid #775774
}

.purple-border-bottom {
    border-bottom: 1px solid #775774
}

.purple-border-left {
    border-left: 1px solid #775774
}

.dark-purple,
.dark-purple-hover:hover {
    color: #6b4e68 !important
}

.dark-purple-bg,
.dark-purple-hover-bg:hover {
    background-color: #6b4e68 !important
}

.dark-purple-border {
    border: 1px solid #6b4e68
}

.dark-purple-border-top {
    border-top: 1px solid #6b4e68
}

.dark-purple-border-right {
    border-right: 1px solid #6b4e68
}

.dark-purple-border-bottom {
    border-bottom: 1px solid #6b4e68
}

.dark-purple-border-left {
    border-left: 1px solid #6b4e68
}

.light-purple,
.light-purple-hover:hover {
    color: #ebe6ea !important
}

.light-purple-bg,
.light-purple-hover-bg:hover {
    background-color: #ebe6ea !important
}

.light-purple-border {
    border: 1px solid #ebe6ea
}

.light-purple-border-top {
    border-top: 1px solid #ebe6ea
}

.light-purple-border-right {
    border-right: 1px solid #ebe6ea
}

.light-purple-border-bottom {
    border-bottom: 1px solid #ebe6ea
}

.light-purple-border-left {
    border-left: 1px solid #ebe6ea
}

.yellow-green,
.yellow-green-hover:hover {
    color: #5c7815 !important
}

.yellow-green-bg,
.yellow-green-hover-bg:hover {
    background-color: #5c7815 !important
}

.yellow-green-border {
    border: 1px solid #5c7815
}

.yellow-green-border-top {
    border-top: 1px solid #5c7815
}

.yellow-green-border-right {
    border-right: 1px solid #5c7815
}

.yellow-green-border-bottom {
    border-bottom: 1px solid #5c7815
}

.yellow-green-border-left {
    border-left: 1px solid #5c7815
}

.dark-yellow-green,
.dark-yellow-green-hover:hover {
    color: #526c12 !important
}

.dark-yellow-green-bg,
.dark-yellow-green-hover-bg:hover {
    background-color: #526c12 !important
}

.dark-yellow-green-border {
    border: 1px solid #526c12
}

.dark-yellow-green-border-top {
    border-top: 1px solid #526c12
}

.dark-yellow-green-border-right {
    border-right: 1px solid #526c12
}

.dark-yellow-green-border-bottom {
    border-bottom: 1px solid #526c12
}

.dark-yellow-green-border-left {
    border-left: 1px solid #526c12
}

.light-yellow-green,
.light-yellow-green-hover:hover {
    color: #e6ebdc !important
}

.light-yellow-green-bg,
.light-yellow-green-hover-bg:hover {
    background-color: #e6ebdc !important
}

.light-yellow-green-border {
    border: 1px solid #e6ebdc
}

.light-yellow-green-border-top {
    border-top: 1px solid #e6ebdc
}

.light-yellow-green-border-right {
    border-right: 1px solid #e6ebdc
}

.light-yellow-green-border-bottom {
    border-bottom: 1px solid #e6ebdc
}

.light-yellow-green-border-left {
    border-left: 1px solid #e6ebdc
}

.gray,
.gray-hover:hover {
    color: #5e5e5e !important
}

.gray-bg,
.gray-hover-bg:hover {
    background-color: #5e5e5e !important
}

.gray-border {
    border: 1px solid #5e5e5e
}

.gray-border-top {
    border-top: 1px solid #5e5e5e
}

.gray-border-right {
    border-right: 1px solid #5e5e5e
}

.gray-border-bottom {
    border-bottom: 1px solid #5e5e5e
}

.gray-border-left {
    border-left: 1px solid #5e5e5e
}

.dark-gray,
.dark-gray-hover:hover {
    color: #555555 !important
}

.dark-gray-bg,
.dark-gray-hover-bg:hover {
    background-color: #555555 !important
}

.dark-gray-border {
    border: 1px solid #555555
}

.dark-gray-border-top {
    border-top: 1px solid #555555
}

.dark-gray-border-right {
    border-right: 1px solid #555555
}

.dark-gray-border-bottom {
    border-bottom: 1px solid #555555
}

.dark-gray-border-left {
    border-left: 1px solid #555555
}

.light-gray,
.light-gray-hover:hover {
    color: #f5f5f5 !important
}

.light-gray-bg,
.light-gray-hover-bg:hover {
    background-color: #f5f5f5 !important
}

.light-gray-border {
    border: 1px solid #f5f5f5
}

.light-gray-border-top {
    border-top: 1px solid #f5f5f5
}

.light-gray-border-right {
    border-right: 1px solid #f5f5f5
}

.light-gray-border-bottom {
    border-bottom: 1px solid #f5f5f5
}

.light-gray-border-left {
    border-left: 1px solid #f5f5f5
}

.black,
.black-hover:hover {
    color: #000000 !important
}

.black-bg,
.black-hover-bg:hover {
    background-color: #000000 !important
}

.black-border {
    border: 1px solid #000000
}

.black-border-top {
    border-top: 1px solid #000000
}

.black-border-right {
    border-right: 1px solid #000000
}

.black-border-bottom {
    border-bottom: 1px solid #000000
}

.black-border-left {
    border-left: 1px solid #000000
}

.white,
.white-hover:hover {
    color: #ffffff !important
}

.white-bg,
.white-hover-bg:hover {
    background-color: #ffffff !important
}

.white-border {
    border: 1px solid #ffffff
}

.white-border-top {
    border-top: 1px solid #ffffff
}

.white-border-right {
    border-right: 1px solid #ffffff
}

.white-border-bottom {
    border-bottom: 1px solid #ffffff
}

.white-border-left {
    border-left: 1px solid #ffffff
}
/*#endregion*/

/* BOOTSTRAP OVERRIDES *//*#region*/
.navbar-nav .btn-group>.btn+.dropdown-toggle {
    padding-left: 2px;
    color: #ffffff
}

.navbar-nav .btn-group>.btn {
    padding-right: 2px;
    color: #ffffff
}

.navbar-default .btn-link {
    color: #ffffff;
    border-radius: 0px;
    padding-top: 10px
}

.navbar-default .btn-link.dropdown-toggle {
    color: #ffffff;
    border-radius: 0px;
    height: 46px;
    padding-top: 5px
}

.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2969a0
}
/*#endregion*/

/* This  is a hack to prevent against a known issue in Bootstrap in which the body content shifts when a modal is opened or closed *//*#region*/
/* https://github.com/twbs/bootstrap/issues/15229 */
.control-label,
label {
    font-weight: 600;
    margin-bottom: 3px;
    color: #424242;
    font-size: 14px
}
/*#endregion*/

/* We're overriding the Bootstrap default z-index for these two classes - as they often interfere with other form elements (ie. date pickers) */
/* when the z-index is set to the Bootstrap standard. *//*#region*/
.btn-primary {
    color: #ffffff;
    background-color: #137F00;
    border-color: #137F00
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #ffffff;
    background-color: #298529;
    border-color: #298529
}

.btn-default {
    border: 1px solid #ccc
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.dropdown-menu>span>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu>span>li:focus,
.dropdown-menu>span>li:hover,
.dropdown-menu>span>li>a:focus,
.dropdown-menu>span>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer
}

.dropdown-menu>li.dropdown-header {
    color: #5e5e5e;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    cursor: default;
    padding-left: 8px;
    font-size: 1.1em
}

ul.nav-sidebar>li.active>a {
    text-decoration: none;
    background-color: #e7e7e7;
    font-weight: 600;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}

.column-filter>li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff
}
/*#endregion*/

/*.btn.btn-danger {
  color: #cc4642;
  border: 1px solid #cc4642;
  border-color: #cc4642;
  background-color: transparent;

  &:hover {
    background-color: #cc4642;
    color: #ffffff;
  }
}*/

/* [Sidebar Styles] *//*#region*/
nav#divTabHeader,
nav.tab-header {
    background-color: #f5f5f5
}

.sidebar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 40px;
    overflow: visible;
    height: 100%;
    z-index: 20
}

.sidebar .sidebar-wrapper {
    background-color: #f5f5f5;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 40px;
    position: absolute;
    white-space: nowrap;
    top: 0;
    border-right: 1px solid #dcdcdc;
    box-shadow: 1px 0 12px -3px #000000
}

.sidebar .sidebar-wrapper:hover {
    overflow-y: auto
}

.sidebar .sidebar-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 8px
}

.sidebar .sidebar-wrapper::-webkit-scrollbar-thumb {
    background: #bdbdbd
}

.sidebar.is-flush {
    top: 0
}

.sidebar.is-flush .sidebar-wrapper {
    margin-bottom: 0
}

.sidebar .nav-sidebar {
    margin-top: 0;
    position: relative
}

.sidebar .nav-sidebar .sidebar-brand {
    font-weight: 700 !important
}

.sidebar .nav-sidebar .sidebar-brand span.fa {
    font-size: 19px;
    font-weight: 800
}

.sidebar .nav-sidebar li.active>a {
    text-decoration: none;
    background-color: #e7e7e7;
    font-weight: 600;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}

.sidebar .nav-sidebar li>a:hover {
    outline: none
}

.sidebar .nav-sidebar li>a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 2px
}

.sidebar .nav-sidebar li>a:not(.sidebar-brand) {
    color: #306090;
    display: block;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sidebar .nav-sidebar li>a:not(.sidebar-brand) .badge,
.sidebar .nav-sidebar li>a:not(.sidebar-brand)>i {
    position: absolute;
    right: 10px
}

.sidebar-sm .sidebar-wrapper {
    width: 175px
}

.sidebar-md .sidebar-wrapper {
    width: 225px
}

.sidebar-lg .sidebar-wrapper {
    width: 275px
}

.wrapper {
    padding-left: 0;
    transition: padding-left 150ms ease;
    min-height: 90vh;
    padding-top: 41px
}

.wrapper .ButtonCell,
.wrapper .ButtonCellTop {
    position: fixed;
    width: 100%;
    padding-right: 0;
    /* Since the .fixed header on every page sits at a z-index of 45, we set this to sit right below */
    z-index: 39;
    /*padding: 0;*/
    height: 40px
}

.wrapper .ButtonCellTop {
    top: 41px
}

.wrapper.no-shim .ButtonCell,
.wrapper.no-shim .ButtonCellTop {
    top: 0
}

.nav-shim {
    padding-top: 35px
}

@media (min-width:768px) {
    .sidebar {
        display: block
            /*padding-top: 3px;*/
    }

    .sidebar .sidebar-wrapper {
        box-shadow: none
    }

    .wrapper-sm {
        padding-left: 175px
    }

    .wrapper-sm .ButtonCellTop {
        padding-right: 175px
    }

    .wrapper-md {
        padding-left: 225px
    }

    .wrapper-md .ButtonCellTop {
        padding-right: 225px
    }

    .wrapper-lg {
        padding-left: 275px
    }

    .wrapper-lg .ButtonCellTop {
        padding-right: 275px
    }

    .wrapper.closed .ButtonCellTop {
        padding-right: 0
    }
}

@media (max-width:767px) {
    .sidebar-wrapper {
        overflow: auto
    }
}

#wrapper {
    padding-left: 250px;
    transition: all 0.2s ease;
    height: 100vh;
    overflow: hidden
}

#wrapper #divHeaderControl {
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
    padding-right: 250px;
    background-color: white;
    transition: all 0.2s ease
}

#wrapper.toggled {
    padding-left: 0
}

#wrapper.toggled #divHeaderControl {
    padding-right: 0px
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #f5f5f5;
    border-right: 1px solid #e1e1e1;
    transition: all 0.2s ease
}

#sidebar-wrapper:hover {
    overflow-y: auto
}

#sidebar-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 8px
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
    background: #bdbdbd
}

#sidebar-wrapper .list-group-item {
    border-color: transparent;
    background-color: transparent;
    color: #306090
}

#sidebar-wrapper .list-group-item.active {
    background-color: #e7e7e7;
    font-weight: 700;
    border-color: #dcdcdc
}

#sidebar-wrapper .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

#sidebar-wrapper .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #e8e8e8;
    border-color: #dcdcdc
}

#sidebar-wrapper .list-group-subitem {
    display: block;
    text-align: left
}

#wrapper.toggled #sidebar-wrapper {
    width: 0
}

#page-content-wrapper {
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
    height: 100%
}

#page-content-wrapper .ButtonCellTop {
    top: 0
}

#page-content-wrapper .ButtonCell,
#page-content-wrapper .ButtonCellTop {
    position: fixed;
    left: 250px;
    padding: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-right: 265px;
    transition: all 0.2s ease
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    padding-left: 0
}

#wrapper.toggled #page-content-wrapper .ButtonCell,
#wrapper.toggled #page-content-wrapper .ButtonCellTop {
    left: 0;
    padding-right: 15px
}

#wrapper.toggled #page-content-wrapper .ButtonCell button:first-child,
#wrapper.toggled #page-content-wrapper .ButtonCell input:first-child {
    margin-left: 0px
}

#page-content-wrapper .project-section-container {
    height: 100%;
    overflow: auto
}

#page-content-wrapper .project-section-container-fixed {
    overflow: auto;
    position: fixed;
    width: -moz-available
}
/*#endregion*/

/*Right*//*#region*/

div.filter-section {
    font-size: 15px;
    font-weight: 600;
    margin: 15px -15px;
    padding: 8px 5px 8px 15px;
    background-color: #F3F3F3;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}

div.grid>.row {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-top: 0;
    padding-bottom: 0
}

div.grid-hover>div.row:hover {
    background-color: #F5F5F5
}

.grid-striped>div.row:nth-of-type(odd) {
    background-color: #F9F9F9
}

div.grid>div.row-hdr {
    border-bottom: 2px solid #ddd;
    font-weight: 700
}

div.grid>div.row-grp {
    background-color: #F9F9F9;
    font-weight: 700
}
/*#endregion*/

/* Styles for code regions (esp. used in KB articles, so there might not be a specific reference to this within the */
/* code, but it is used in our internal KB articles content. *//*#region*/
.code,
code,
pre {
    font-family: Consolas, Courier New, monospace;
    background-color: #eee;
    padding: 1px
}
/*#endregion*/

/* To better distinguish from read-only form-control fields (which use #EEE), */
/* make form-control inputs with the code class use a slightly different color *//*#region*/
.code.form-control {
    background-color: #F9F2F4;
    color: black
}
/*#endregion*/

/* Element-level *//*#region*/
a,
a.noHover {
    color: #306090
}

a:hover {
    color: #c5400d
        /* orangered */
}

a.disabledLink {
    color: black;
    cursor: text
}

a.disabledLink:hover {
    color: black
}

hr {
    border: 0px;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    size: 1px
}

.h1,
.h2,
h1,
h2 {
    font-family: Segoe UI, Open Sans, Arial, Sans-Serif;
    font-weight: 400;
    margin: 0px;
    color: #424242
}

.h2,
h2 {
    font-size: 22px;
    padding: 10px 0px 5px;
    border-bottom: 1px solid #dcdcdc
}

.h3,
h3 {
    font-weight: 400;
    margin: 0px;
    color: #424242
}

.h4,
h4 {
    font-family: Segoe UI, Open Sans, Arial, Sans-Serif;
    font-weight: 700;
    color: #646464;
    text-decoration: none
}

a.btn .fa-times:hover,
a[role=button] .fa-times:hover,
button .fa-times:hover {
    color: #bf3935
}
/*#endregion*/

/* File Upload control classes *//*#region*/
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block
}
/*#endregion*/

/* Classes *//*#region*/
td.ButtonCellBottom {
    border-top: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    padding: 5px;
    vertical-align: middle
}

.ButtonCell,
.ButtonCellTop {
    border-bottom: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    padding: 5px 5px 5px 10px;
    vertical-align: middle
}

.ButtonCell {
    border-top: 1px solid #dcdcdc;
    min-height: 40px
}

.category-desc {
    color: #515A61;
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px
}

.category-desc-focus {
    background-color: #f5f5f5;
    padding: 8px;
    margin-top: 5px;
    font-size: 13px
}

.category-footer {
    border-top: 1px solid #dcdcdc;
    margin: 0px 0px 15px;
    padding: 15px
}

.user-link {
    font-size: 16px;
    color: #336699;
    font-weight: bolder;
    vertical-align: top;
    text-decoration: none
}

.hilite,
.hilite .btn-link,
.hilite a,
.hilite td,
.table>tbody>tr.hilite.active,
.table>tbody>tr.hilite.danger,
.table>tbody>tr.hilite.info,
.table>tbody>tr.hilite.success,
.table>tbody>tr.hilite.warning,
.table>tbody>tr.hilite>td.active,
.table>tbody>tr.hilite>td.danger,
.table>tbody>tr.hilite>td.info,
.table>tbody>tr.hilite>td.success,
.table>tbody>tr.hilite>td.warning {
    color: white;
    background-color: #0072C6
}

.table>tbody>tr.hilite-2.active,
.table>tbody>tr.hilite-2.danger,
.table>tbody>tr.hilite-2.info,
.table>tbody>tr.hilite-2.success,
.table>tbody>tr.hilite-2.warning,
.table>tbody>tr.hilite-2>td.active,
.table>tbody>tr.hilite-2>td.danger,
.table>tbody>tr.hilite-2>td.info,
.table>tbody>tr.hilite-2>td.success,
.table>tbody>tr.hilite-2>td.warning,
tr.hilite-2,
tr.hilite-2 .btn-link,
tr.hilite-2 a,
tr.hilite-2 td {
    color: #006100;
    background-color: #C6EFCE
}

.copyButton {
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*rgba for transparency*/
    background-color: white
}

.copyButton:hover {
    background-color: #f6f6f6
}

.ReqFld {
    color: #bf3935
}

.form-group.required .control-label:after {
    content: " *";
    color: #bf3935
}

.field-validation-error {
    color: #bf3935
}

div.WhiteOut {
    z-index: 50;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    filter: alpha(opacity=65);
    opacity: .65;
    display: none;
    text-align: center
}
/*#endregion*/

/* CSS Compliant Table Styles *//*#region*/
table.TDGrid_AllGridlines tbody,
table.TDGrid_AllGridlines td,
table.TDGrid_AllGridlines th,
table.TDGrid_AllGridlines thead {
    border: 1px solid #dcdcdc
}

table.TDGrid_VertGridlines td,
table.TDGrid_VertGridlines th {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc
}

table.TDGrid_HorizGridlines {
    border-collapse: collapse;
    border-top: 1px solid #dcdcdc;
    width: 100%
}

table.TDGrid_HorizGridlines td,
table.TDGrid_HorizGridlines th {
    border-left: none;
    border-right: none;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}

table.TDGrid_NoGridlines {
    border-top: 1px solid #dcdcdc
}

.TDTable_VertGridlines td,
.TDTable_VertGridlines th {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc
}
/* End CSS Compliant Table Styles */
/*#endregion*/

/* Auto complete *//*#region*/
.ac_menu {
    border: 1px solid #999999;
    background-color: #F6F6F6;
    cursor: default;
    overflow: hidden
}

.ac_menuitem {
    position: relative;
    width: 100%;
    color: #141414;
    padding: 2px;
    cursor: pointer;
    -moz-user-select: none
}

.ac_menuitem_over {
    background-color: #E6E6E6
}

.ac_menuitem_selected {
    background-color: #D6DEEC
}

.comment-alt {
    background-color: #f0f0f0
}

.comment,
.comment-alt {
    border-bottom: 1px solid #ddd;
    width: 100%
}

.comment-timestamp {
    color: #828074
}

.commment-name {
    font-size: 14px;
    color: #336699;
    text-decoration: none;
    font-weight: bolder
}

.TabButtonCell {
    border-bottom: 1px solid #dcdcdc;
    background-color: #F8F9F9;
    padding: 7px 7px 7px 13px
}

div.help {
    padding: 8px;
    background-color: #fefaef;
    border: 1px solid #8e6a00;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 2px;
    display: none
}

.block-info {
    color: #454545;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px
}

.block-actions {
    background-color: #f5f5f5;
    padding: 8px !important;
    line-height: 22px
}

.block-actions .btn.btn-link {
    display: inline;
    color: #306090;
    vertical-align: baseline
}

button.btn-link.btn-nav-style:hover {
    background-color: #eee;
    color: #c5400d;
    text-decoration: none
}

ul.nav-pills li.dropdown button.dropdown-toggle:hover {
    background-color: #eee
}

div.RightSideNav {
    padding: 0px 15px 15px;
    background-color: #f5f5f5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    word-break: break-word;
    -ms-word-break: break-word
}

.underlinable-anchor.selected,
.underlinable-anchor:hover {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #0072C6
}

.popup {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    padding: 15px
}

.ListItemLbl {
    color: #515A61;
    font-weight: 700;
    white-space: nowrap
}

.underlined-row {
    border-bottom: 1px solid Gainsboro
}
/*#endregion*/

/*Menu displayed when a user right clicks on an item (ie. briefcase folders)*//*#region*/
.right-click-menu,
.save-search-div {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 12px -3px black;
    border-collapse: separate;
    border: 1px solid #dcdcdc;
    z-index: 10000
}

div.nav-item {
    padding-top: 4px;
    padding-bottom: 3px;
    white-space: nowrap;
    margin-bottom: 2px;
    border: 1px solid Transparent;
    padding-left: 27px;
    cursor: pointer;
    color: Black;
    font-size: 12px
}

div.nav-item:hover {
    border: 1px solid #d0e4f9;
    border-radius: 2px;
    background-image: url(../Images/navitemfadeblue.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #F8F9F9;
    color: #c5400d
}

/*#endregion*/

/* tab styles. *//*#region*/
ul.tabs {
    background-position: bottom;
    background-repeat: repeat-x;
    border-bottom: 1px solid #dcdcdc;
    margin: 8px 0 0;
    padding: 0;
    padding-left: 8px
}
/*#endregion*/

/* this is a css hack stolen from the jquery ui css. this seems to make the border on the ul show up correctly. *//*#region*/
ul.tabs>li {
    color: #336699;
    display: block;
    float: left;
    font-size: 1.2em;
    list-style-type: none;
    padding: 5px 20px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
    /* position: relative and top: 1px combine to let this tab override the bottom border on the parent ul element */
    position: relative;
    top: 1px
}

ul.tabs>li:hover {
    cursor: pointer;
    color: #114477
}

ul.tabs>li.selected {
    background-color: #F8F9F9;
    border: 1px solid #dcdcdc;
    border-top: 2px solid #f5f5f5;
    border-bottom: 0 none;
    font-weight: 700
}

.modal-target,
.shadow-box {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 12px -3px black;
    border-collapse: separate;
    border: 1px solid #dcdcdc
}

.shadow {
    box-shadow: 0px 1px 12px -3px black
}
/*#endregion*/

/* Lookup Image Styles *//*#region*/
input.lu_lookupbox,
input.lu_lookupbox:hover,
input.TDTextBox.lu_lookupbox {
    cursor: default;
    border-color: #cdcdcd
}
/*#endregion*/

/* Time Styles *//*#region*/
.time-cell-submitted {
    background-color: #d9edf7;
    color: #333
}

.time-cell-approved {
    background-color: #dff0d8;
    color: #3c763d
}

.time-cell-rejected {
    background-color: #f2dede;
    color: #a94442
}

div.time-labeldiv-notsubmitted {
    color: #454545
}

div.time-labeldiv-submitted {
    color: #336699;
    background-color: #d9edf7;
    border: 1px solid #bce8f1
}

div.time-labeldiv-approved {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6
}

div.time-labeldiv-rejected {
    color: #9C0006;
    background-color: #f2dede;
    border: 1px solid #ebccd1
}

div.time-div-approved,
div.time-div-notsubmitted,
div.time-div-rejected,
div.time-div-submitted {
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    padding: 3px
}

div.time-div-notsubmitted {
    background-color: #F9F9F9
}

div.time-div-submitted {
    background-color: #AAE0FF
}

div.time-div-approved {
    background-color: #C6EFCE
}

div.time-div-rejected {
    background-color: #FFCAD1
}
/* End Time Styles */
/*#endregion*/

/* Add a border to slider elements *//*#region*/
span.ui-slider-handle.ui-state-default {
    border: 1px solid #747474
}
/*#endregion*/

/*Use this for any status or percent completes in the header*//*#region*/
.status {
    font-family: Segoe UI Semibold, Segoe UI, Open Sans Semibold, Open Sans, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    padding-right: 5px;
    color: black;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block
}

div.comment {
    display: none;
    width: 100%;
    background-color: #eef1f3;
    border: 1px solid #CDCDCD;
    margin-top: 5px;
    position: relative
}
/*#endregion*/

/* tdbar styles *//*#region*/
div.tdbar-settings i {
    color: #454545;
    padding-right: 5px
}

.tab-row {
    border-bottom: 1px solid #dcdcdc;
    background-color: #F8F9F9
}

.tdbar-sub {
    border-bottom: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    line-height: 30px;
    display: table;
    width: 100%
}

div.tdbar-anchored-button,
div.tdbar-anchored-button a,
div.tdbar-button {
    float: left;
    font-size: 14px;
    display: inline-block;
    line-height: 35px;
    cursor: pointer;
    color: #343434
}

div.tdbar-anchored-button:hover,
div.tdbar-button:hover {
    background-color: #fff
}

div.tdbar-anchored-button-sel,
div.tdbar-anchored-button-sel a,
div.tdbar-button-sel {
    float: left;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    color: white;
    font-weight: 700
}

div.tdbar-anchored-button-sel:hover,
div.tdbar-button-sel:hover {
    background-color: #005899
}

div.tdbar-submenu {
    position: fixed;
    border: 1px solid #0072C6;
    border-top: none;
    display: none;
    background-color: white;
    z-index: 1000
}

div.tdbar-submenu-item {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    color: black
}

div.tdbar-submenu-item:hover {
    background-color: #f5f5f5
}

div.tdbar-submenu-item a {
    color: black
}

div.tdbar-briefcase-submenu-item {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    color: black
}

div.tdbar-briefcase-submenu-item:hover {
    background-color: #f5f5f5
}
/* end tdbar styles */
/*#endregion*/

/* Workflow Builder Styles *//*#region*/
.rel-annotation {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px
}

.step {
    border: 1px solid #ddd;
    width: 150px;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa
}

.current .step-name {
    background-color: #c6efce
}

.step-name {
    cursor: pointer;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    background-color: #f0f0f0
}

.step-options>div {
    padding: 5px;
    border-top: 1px solid #eee
}

.drag-handle {
    background-color: #bf3935;
    cursor: grab;
    cursor: -webkit-grab;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    width: 15px
}
/* End: Workflow Builder Styles */
/*#endregion*/

/* auto-complete *//*#region*/
.talu_holder {
    padding: 5px 12px 0 6px;
    font-size: 14px;
    line-height: 1.42857143;
    display: inline-block;
    /* Need this to prevent IE7 from being weird */
    border: 1px solid #cdcdcd;
    float: left;
    margin: 0;
    overflow-x: hidden;
    vertical-align: middle;
    min-height: 34px;
    max-height: 200px;
    height: auto;
    overflow-y: auto
}

.talu_holder .bit-box {
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 6px
}

.talu_holder .bit-box-focus {
    background: #598BEC;
    border-color: #598BEC;
    color: #fff
}

.talu_holder.no-selection {
    border-color: #bf3935
}
/*#endregion*/

/* "Start typing here..." CSS *//*#region*/
.talu_holder .luac_default {
    display: inline-block;
    border-width: 0;
    color: #5e5e5e;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    /* Vertically align in holder */
    padding-left: 6px;
    float: left
}

.talu_holder.holder-focused {
    outline: 2px solid #3F9AE4;
    -webkit-outline: 5px solid -webkit-focus-ring-color;
    outline-offset: -2px
}

.talu_buttons a.btn-default.no-selection {
    border-top-color: #bf3935;
    border-bottom-color: #bf3935;
    border-right-color: #bf3935
}

.talu_buttons a.btn-default.btn-typeahead-lookup.no-selection {
    border-right-color: #ccc
}
/*#endregion*/

/* Profile Image Styles *//*#region*/
div.profile-image.initials {
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    color: white;
    border-radius: 3px
}

div.profile-image.initials.system>.fa:hover {
    color: white;
    cursor: default
}
/* End Profile Image Styles */
/*#endregion*/

/* Tile styles *//*#region*/
div.secondary {
    background-color: #2969a0
}

div.tertiary {
    background-color: #388091
}

.tdTilebg {
    border: 1px solid #dcdcdc;
    height: 130px;
    width: 140px;
    background-color: #555555;
    margin: 5px 10px 5px 0px;
    float: left
}

.tdTilebg .num {
    font-size: 45px;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px
}

.tdTilebg .txt {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white
}

.tdTilemd {
    border: 1px solid #dcdcdc;
    height: 105px;
    width: 115px;
    background-color: #555555;
    margin: 5px 10px 5px 0px;
    float: left
}

.tdTilemd .num {
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
    padding-top: 15px
}

.tdTilemd .txt {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white
}

.tdTilesm {
    border: 1px solid #dcdcdc;
    height: 85px;
    width: 95px;
    background-color: #555555;
    margin: 5px 10px 5px 0px;
    float: left
}

.tdTilesm .num {
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px
}

.tdTilesm .txt {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white
}
/*#endregion*/

/* These styles are used to make a horizontal asp:RadioButtonList appear as inline bootstrap radio buttons *//*#region*/
/*
  The following markup should be used for the RadioButtonList:
  <asp:RadioButtonList ID="rblInterval" runat="server" RepeatDirection="Horizontal" RepeatLayout="Flow" CssClass="radio">
    <asp:ListItem Value="month" Text="Months" Selected="True" />
    <asp:ListItem Value="week" Text="Weeks" />
  </asp:RadioButtonList>
*/

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

table>tbody+tbody {
    border-top: 2px solid #ddd
}
/*#endregion*/

/* Panel styles from http://startbootstrap.com/template-overviews/sb-admin/ *//*#region*/
.panel-green {
    border-color: #298529
}

.panel-green>.panel-body,
.panel-green>.panel-heading {
    border-color: #298529;
    color: #ffffff;
    background-color: #298529
}

.panel-green>a {
    color: #298529
}

.panel-green>a:hover {
    color: #257825
}

.panel-gray {
    border-color: #5e5e5e
}

.panel-gray>.panel-heading {
    border-color: #5e5e5e;
    color: #ffffff;
    background-color: #5e5e5e
}

.panel-gray>a {
    color: #5e5e5e
}

.panel-gray>a:hover {
    color: #555555
}

.panel-red {
    border-color: #bf3935
}

.panel-red>.panel-heading {
    border-color: #bf3935;
    color: #ffffff;
    background-color: #bf3935
}

.panel-red>a {
    color: #bf3935
}

.panel-red>a:hover {
    color: #ac3330
}

.panel-yellow {
    border-color: #8e6a00
}

.panel-yellow>.panel-heading {
    border-color: #8e6a00;
    color: #ffffff;
    background-color: #8e6a00
}

.panel-yellow>a {
    color: #8e6a00
}

.panel-yellow>a:hover {
    color: #805f00
}
/*#endregion*/

/* This is used for the icons associated with desktop modules *//*#region*/
.module-header span {
    color: #2b2b2b
}
/*#endregion*/

/* START jquery.multiple-select customizations *//*#region*/
.ms-choice {
    height: 34px !important;
    line-height: 34px !important;
    border: 1px solid #ddd !important;
    border-radius: 3px !important
}

@-moz-document url-prefix() {
    .ms-choice:focus {
        outline: 2px solid #3F9AE4;
        outline-offset: -2px
    }
}
/* END jquery.multiple-select customizations */
/*#endregion*/

/* Turn off cursor for disabled datepickers *//*#region*/
.nav-tabs>li.active a {
    background-color: #F8F9F9;
    border-bottom-color: #F8F9F9;
    font-weight: 600;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.tditemlist-sorting {
    background-color: White;
    border: 1px solid #dcdcdc;
    border-bottom: none
}
/*#endregion*/

/* Priority/Risk Styling *//*#region*/
.rsk-status {
    padding: 2px;
    text-align: center;
    width: 100px;
    border: 1px solid #000000;
    color: white
}

.pri-none {
    background-color: #5e5e5e
}

.pri-low {
    background-color: #298529
}

.pri-medlow {
    background-color: #5c7815
}

.pri-nor {
    background-color: #8e6a00
}

.pri-medhi {
    background-color: #a7521b
}

.pri-hi {
    background-color: #bf3935
}

.sortable-item {
    padding: 15px 0px 11px;
    border-bottom: 1px solid #dcdcdc
}
/*#endregion*/

/* Autocompleter (i.e. popped-up list of items) *//*#region*/
.lu_tdac-auto,
.lu_tdac-auto ul {
    background: #fff !important;
    display: none
}

.lu_tdac-auto ul {
    border: 1px solid #dcdcdc;
    width: 100% !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: auto;
    padding: 0;
    margin: 0 !important;
    position: absolute
}

.lu_tdac-auto ul li {
    /*background-color: #F6F6F6;*/
    border-width: 0 1px 1px !important;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 6px 12px;
    z-index: 29
}

.lu_tdac-auto ul li div.talu_subcaption {
    font-style: italic;
    font-size: 90%;
    color: #555555
}

.lu_tdac-auto ul .auto-focus div.talu_subcaption {
    color: #ffffff
}

.lu_tdac-auto ul .auto-focus {
    background: #4173CC;
    color: #fff
}

.lu_deleted {
    background-color: #4173CC !important;
    color: #ffffff !important
}
/*#endregion*/

/* override select2 styles for tags *//*#region*/
div.js-tagformfield .select2-container-multi .select2-choices,
div.js-tags-inlineedit .select2-container-multi .select2-choices {
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 8px
}

div.js-tagformfield .select2-container-multi.select2-container-active .select2-choices,
div.js-tags-inlineedit .select2-container-multi.select2-container-active .select2-choices {
    background-image: none;
    border: 1px solid #5897fb
}

div.js-tagformfield .select2-container-multi .select2-choices .select2-search-choice,
div.js-tags-inlineedit .select2-container-multi .select2-choices .select2-search-choice {
    background: #dcdcdc;
    border: 1px solid #cdcdcd;
    display: inline-block;
    border-radius: 1px;
    padding: 0 5px;
    line-height: 17px;
    margin-right: 3px;
    margin-top: 5px;
    word-break: break-all
}

div.js-tagformfield .select2-container-multi .select2-choices .select2-search-field input {
    border-width: 0;
    color: #5e5e5e !important;
    font-size: 14px;
    font-style: italic;
    font-family: Segoe UI, Open Sans, Arial, Sans-Serif;
    line-height: 19px;
    padding-left: 0
}
/*#endregion*/
