:root
{
    /* Colors I've been using.
    --border-color: #464646;
    --main-background-color: #1E1E1E;
    --main-link-color: #569CD6;
    --main-foreground-color: #D4D4D4;
    --menu-foreground-color: #CCCCCC;
    */

    --main-background-color: #1e1e1e;
    --main-border-color: #444444;
    --main-foreground-color: #d4d4d4;
    --main-link-color: #3794ff;
    --main-link-hover-color: #4e94ce;
    --input-placeholder-foreground-color: #a6a6a6;
    --list-drop-background-color: #383b3d;
    --menu-background-color: #252526;
    --menu-foreground-color: #cccccc;
    --sidebar-section-header-background-color: #00000000;
    --sidebar-section-header-border-color: #cccccc33;
    --button-background-color: #0e639c;
    --button-background-hover-color: #1177bb;
    --button-foreground-color: #ffffff;
    --button-secondary-background-color: #3a3d41;
    --button-secondary-background-hover-color: #45494e;
    --button-secondary-foreground-color: #ffffff;
    --checkbox-background-color: #3c3c3c;
    --checkbox-border-color: #3c3c3c;
    --checkbox-foreground-color: #f0f0f0;
    --exception-background-color: #6c2022;
    --exception-foreground-color: #cccccc;
    --description-foreground-color: #ccccccb3;
    --dropdown-background-color: #3c3c3c;
    --dropdown-background-hover-color: #2a2d2e;
    --dropdown-border-color: #3c3c3c;
    --dropdown-foreground-color: #f0f0f0;
    --selection-background-color: #264f78;
    --menu-selection-background-color: #094771;
    --menu-selection-foreground-color: #ffffff;
    --menu-separator-background-color: #bbbbbb;
    --menubar-selection-background-color: #ffffff1a;
    --menubar-selection-foreground-color: #cccccc;
    --panel-section-border: #80808059;
    --panel-section-header-background: #80808033;
    --panel-title-active-border: #e7e7e7;
    --panel-title-active-foreground: #e7e7e7;
    --panel-title-inactive-foreground: #e7e7e799;
    --scrollbar-shadow: #000000;
    --scrollbar-slider-active-background: #bfbfbf66;
    --scrollbar-slider-background: #79797966;
    --scrollbar-slider-hover-background: #646464b3;
    --settings-focusedRowBackground: #80808024;
    --settings-textInputBackground: #3c3c3c;
    --settings-textInputForeground: #cccccc;
}

body
{
    background-color: #1E1E1E;
    color: #D4D4D4;
}

h1, h2, h3
{
    color: #e1e1e1;
}

/* Undecided on this one.
a:hover
{
    color: #9CDCFE;
}
*/

a, a.noHover
{
    color: #569CD6;
}

nav#divTabHeader, nav.tab-header {
    background-color: #333;
}

#divHeader
{
    background-color: #252526 !important;
}

.nav1, .nav2, .nav3 {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #333;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    background-color: #252526;
    border: 1px solid transparent;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
    color: #ccc;
    background-color: #333;
    border-color: #333;
}

.panel-title.black
{
    color: #ccc !important;
}

.ModuleContent {
    overflow-x: auto;
}

.control-label, label {
    color: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover
{
    color: #d4d4d4;
    cursor: default;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
}

.nav-tabs>li>a:hover {
    border-color: #252526 #252526 #333;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #333;
}

.tab-row {
    border-bottom: 1px solid #252526;
    background-color: #252526;
}

.nav-tabs {
    border-bottom: 1px solid #252526;
}

.copyButton {
    border: 1px solid rgba(64,64,64,0.1);
    background-color: #333;
}

.copyButton:hover {
    background-color: #4f4f4f;
}

span.js-open-monitor a.btn:hover {
    color: #c5400d  /* orangered */;
}

.ButtonCell, .ButtonCellTop {
    border-bottom: 1px solid #464646;
    background-color: #1e1e1e;
}

.dropdown-menu {
    background-color: #333;
    border: 1px solid #464646;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-menu>li>a,
.dropdown-menu>span>li>a
{
    color: #ccc;
}

.alert-info {
    background-color: #333;
    color: #ccc;
    border-color: #4d4d4d;
}

.modal-header {
    border-bottom: 1px solid #464646;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}

.breadcrumb>.active {
    color: #d4d4d4;
}

#thTicket_lblStatus.green
{
    color: #50A14F!important;
}


.nav3 {
    color: #ccc;
}

.TDAlternatingRow {
    background-color: #2d2d2d;
}

.btn-primary {
    color: #e1e1e1;
    background-color: #50A14Faa;
    border-color: #137F00;
}

table.TDGrid_HorizGridlines td,
table.TDGrid_HorizGridlines th {
    border-left: none;
    border-right: none;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover
{
    color: #ffffff;
    background-color: #50A14F;
    border-color: #298529;
}

.gray, .gray-hover:hover {
    color: #ccc!important;
}

.feed-reply {
    background-color: #333;
    border: 1px solid #3c3c3c;
}

.btn-link {
    color: #569CD6;
}

.btn-link:focus,
.btn-link:hover {
    color: #9CDCFE;
}

.alert-danger {
    color: #e1e1e1;
    background-color: #f4474777;
    border-color: #464646;
}

.alert-danger .alert-link {
    color: #9CDCFE;
}

.form-control {
    color: #ccc;
    background-color: #333;
    border: 1px solid #3c3c3c;
}

/* Text that appears in text input fields before user adds anything. */
.talu_holder .luac_default {
    color: #999;
}

.lu_tdac-auto,
.lu_tdac-auto ul {
    background: #333!important;
    display: none;
}

.lu_tdac-auto ul {
    border: 1px solid #464646;
}

.talu_holder {
    border: 1px solid #464646;
}

.talu_holder .bit-box {
    color: #ccc;
    background: #252526;
    border: 1px solid #464646;
}

/* The actual input element within the thing that looks like a form field. */
.talu_holder .bit-input input {
    background-color: #333;
    border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #333;
    opacity: 1;
}

.btn-default
{
    color: #ccc;
    background-color: #333;
    border-color: #464646;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    color: #ccc;
    background-color: #3c3c3c;
    border-color: #464646;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #ccc;
    background-color: #3c3c3c;
    border-color: #464646;
}

.input-group-btn .btn-default {
    background-image: none;
    border: 1px solid #252526;
    color: #ccc;
    background-color: #333;
}

.border
{
    border: 1px solid #3c3c3c;
}

.select2-container .select2-choice,
.select2-container .select2-choices,
.select2-container .select2-choices .select2-search-field input {
    background: 0 0;
    border-color: #3c3c3c;
    color: #ccc;
    background-color: #252526;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active
{
    background: #252526 url(select2-spinner.gif) no-repeat 100%!important;
}

.select2-drop {
    background: #333;
    color: #ccc;
    border: 1px solid #646464;
}

.select2-container-multi .select2-choices .select2-search-choice {
    color: #ccc;
    background: #333;
    border-color: #464646;
}

.alert-warning {
    color: #e1e1e1;
    background-color: #DCDC6677;
    border-color: #3c3c3c;
}

.white-bg, .white-hover-bg:hover
{
    background-color: #2D2D2D!important;
}

.select2-search input.select2-active
{
    background: #333 url(select2-spinner.gif) no-repeat 100%;
    /*
    background: url(select2-spinner.gif) no-repeat 100%,-webkit-gradient(linear,left bottom,left top,color-stop(.85,#fff),color-stop(.99,#eee));
    background: url(select2-spinner.gif) no-repeat 100%,-webkit-linear-gradient(center bottom,#fff 85%,#eee 99%);
    background: url(select2-spinner.gif) no-repeat 100%,-moz-linear-gradient(center bottom,#fff 85%,#eee 99%);
    background: url(select2-spinner.gif) no-repeat 100%,linear-gradient(to bottom,#fff 85%,#eee 99%) 0 0;
    */
}

.select2-search input {
    border-color: #464646;
    color: #ccc;
    background-color: #333;
}

.TabButtonCell {
    border-bottom: 1px solid #1e1e1e;
    background-color: #1e1e1e;
}

.list-group-item {
    background-color: #252526;
    border: 1px solid #333;
}

.panel-footer {
    background-color: #333;
    border-top: 1px solid #333;
}

tr.TDGridHeader {
    background-color: #333;
    border-top: 1px solid #464646;
}

table>thead>tr.TDGridHeader>th, tr.TDGridHeader td {
    color: #646464;
    border: 1px solid #464646;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th
{
    border: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #2d2d2d;
}

.table-striped>tbody>tr:nth-of-type(even)
{
    background-color: #252526;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th
{
    border: 1px solid #464646;
}

div.comment {
    background-color: #252526;
    border: 1px solid #464646;
}

.pagination>li>a, .pagination>li>span {
    background-color: #333;
    border: 1px solid #464646;
}

.TDPagerRow>td>span {
    background-color: #333;
    border: 1px solid #464646;
}

.ms-choice {
    border: 1px solid #aaa;
    color: #ccc;
    background-color: #333;
    border: 1px solid #464646!important;
}

.ms-drop {
    background: #333;
    color: #000;
    border: 1px solid #464646;
}

.modal-content {
    background-color: #252526;
    border: 1px solid #999;
}

.close {
    color: #ccc;
    text-shadow: 0 1px 0 #fff;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece
{
    background-color: #646464;
}

::-webkit-scrollbar-thumb
{
    background-color: #3c3c3c;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #333;
}

::-webkit-scrollbar-thumb:active
{
    background-color: #252526;
}

::-webkit-resizer
{
    display: none;
}

/* Test */
/* Can't remember what this was testing! */
/*
.clearfix.padding.light-gray-bg.soft-border-bottom
{
    background-color: #333!important;
    border: #333;
}
*/